NETLIFY_DEPLOY/templates/statutory/sample_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Bills">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Bill" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BillID" type="xs:string"/>
              <xs:element name="Date" type="xs:date"/>
              <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>